.related-tags {
  ul {
    li {
      margin: 4px 0;
    }
  }
  button {
    border: none;
    background: none;
    margin: 5px 0;
    color: #0077cc;
    &:hover {
      color: #0095ff;
    }
  }
}